body {
    background: linear-gradient(135deg, blueviolet, blue);
    margin: 0;
}
*::selection{
    opacity: 0;
}
#container {
    height: 100vh;
}
#loader{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 7;
    background: linear-gradient(135deg, blueviolet, blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
}
#loader img{
    height: 8rem;
    filter: hue-rotate(292deg);
}


.displayer{
    position: absolute;
    background-size: 200% ;
    background-position: center;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    transition: 1.5s;
    transition-property: background-size;
}
.displayer.main{
    transition: 0.6s;
    transition-property: opacity, top, left, width, height;
    background-size: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
}
.displayer.next{
    opacity: 0;
    z-index: 2;
    background-size: 100%;
    top: calc((100vh - 80vh) / 2);
    left: calc((100vw - 80vw) / 2);
    height: 80vh;
    width: 80vw;
    background-color: aqua;
}


.dot{
    animation: appear 0.9s;
    z-index: 5;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
}
.dot:hover{
    cursor: pointer;
    box-shadow: 0 0 15px white;
}
@keyframes appear {
    0%{
        opacity: 0;
    }
    66%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


a {
    position: absolute;
    z-index: 6;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
a:hover{
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5) inset;
    transform: translate(3px, 3px);
}