body {
    font-family: "Lucida Console";
    background: black;
    color: #fff;
    margin: 0;
    overflow: hidden;
    user-select: none;
}

#canva {
    position: absolute;
    top: 0;
    transition: 0.3s;
}

canvas {
    width: 100vw;
    height: 100svh;
    position: absolute;
    z-index: 3;
}

#canvaContainer {
    transition: filter 0.3s ease;
}

#canvaContainer.blury {
    filter: blur(10px);
}

@media only screen and (max-width: 600px) {
    .menu {
        display: none;
    }
}

.menu {
    background-color: rgb(0, 0, 0);
    height: 100svh;
    width: 300px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(280px);
    transition: 0.3s ease-out;
    z-index: 4;
}

.menu img {
    height: 100%;
}

.menu li {
    margin-top: 45px;
    font-size: 20px;
    color: #cacaca;
}

.menu li:hover {
    text-shadow: white 0 0 13px;
    color: white;
    cursor: pointer;
}

.menu li:active {
    color: rgb(165, 165, 165)
}

.menu ul {
    color: white;
    position: absolute;
    top: 0;
    padding-left: 24px;
    list-style: none;
}

.menu.opened {
    transform: translateX(0);
}

.menu #copyright {
    position: absolute;
    bottom: 15px;
    right: 15px;
    margin: 0;
    font-size: 12px;
}

#loader {
    position: absolute;
    z-index: 7;
    background-color: black;
    opacity: 1;
    width: calc(100vw - 60px);
    height: calc(100svh - 60px);
    transition: 0.5s opacity;
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr 10vw 1fr;
    grid-template-rows: 10svh 1fr 10svh;
    grid-template-areas:
        "line . reverse"
        "title title title"
        "line2 loader reverse2";
    justify-items: center;
    align-items: center;
    gap: 100px;
    padding: 30px;
}

#loader img {
    width: 100%;
}

#loader .line {
    grid-area: line;
}

#loader .reverse {
    grid-area: reverse;
    transform: rotate(180deg);
}

#loader .line2 {
    grid-area: line2;
}

#loader .reverse2 {
    grid-area: reverse2;
    transform: rotate(180deg);
}

#loader .loader {
    grid-area: loader;
    width: 20%;
}

#loader .title {
    grid-area: title;
    position: fixed;
    width: 50%;
}
#loader .clickBait {
    grid-area: title;
    position: fixed;
    width: 50%;
    display: none;
    text-align: center;
    animation: clignotement 2.5s infinite ease-in-out;
}
@keyframes clignotement {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#loader.loaded:hover {
    cursor: pointer;
}
#loader.loaded .title, #loader.loaded .loader {
    display: none;
}
#loader.loaded .clickBait {
    display: block;
}

#sound {
    position: absolute;
    filter: invert();
    z-index: 6;
    margin: 10px;
    width: 25px;
}

#sound:hover {
    cursor: pointer;
}

.imgTop {
    position: absolute;
    z-index: 4;
    display: none;
    justify-content: center;
    align-items: center;
    height: calc(100svh - 4rem);
    width: 100vw;
    width: 50vw;
    padding: 2rem 25vw 2rem 25vw;
    flex-direction: column;
    justify-content: space-between;
    animation: appear 0.3s ease-in;
}

.imgTop.visible {
    display: flex;
}

@keyframes appear {
    from {
        filter: blur(70px);
    }

    to {
        filter: blur(0);
    }
}

.imgTop>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.containerRow {
    flex-direction: row;
}

div.containerRow img {
    height: 250px;
}

h1 {
    font-size: 3em;
}

h1,
h2,
h3,
h4 {
    margin: 5px;
}

#logoTotoni {
    height: 50px;
}

#canvaContainer img {
    position: absolute;
    top: -70px;
    width: 100%;
}

#egg {
    position: absolute;
    height: 200px;
    top: -50vh;
    right: -50vw;
}

#egg.active {
    animation: spin 3s linear 1;
}

@keyframes spin {
    from {
        transform: rotate(-150deg);
    }

    to {
        transform: translate(-150vw, 150vh) rotate(-20deg);
    }
}



/* IXO */
#star-4 {
    position: fixed;
    display: inline-block;

    background-image: url("./assets/Stars-4.png");
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.7;

    width: 106%;
    height: 106%;

    top: -3%;
    left: -3%;

    opacity: 0.5;

    /*border: solid lightgray 2px;*/
}

#star-3 {
    position: fixed;
    display: inline-block;

    background-image: url("./assets/Stars-3.png");
    background-repeat: no-repeat;
    background-size: cover;

    width: 104%;
    height: 104%;

    top: -2%;
    left: -2%;

    opacity: 0.4;

    /*border: solid green 2px;*/
}

#star-2 {
    position: fixed;
    display: inline-block;

    background-image: url("./assets/Stars-2.png");
    background-repeat: no-repeat;
    background-size: cover;

    width: 110%;
    height: 110%;

    top: -5%;
    left: -5%;

    opacity: 0.6;

    /*border: solid yellow 2px;*/
}

#star-1 {
    position: fixed;
    display: inline-block;

    background-image: url("./assets/Stars-1.png");
    background-repeat: no-repeat;
    background-size: cover;

    width: 120%;
    height: 120%;

    top: -10%;
    left: -10%;

    opacity: 0.2;

    /*border: solid blue 2px;*/
}

#tree {
    position: fixed;
    display: inline-block;

    width: 100%;
    height: 100%;

    margin: 0;

    /*border: solid red 2px;*/
}



.links {
    z-index: -1;
    position: absolute;

    width: 100%;

    user-select: none;
    cursor: default;
}

.links path {
    -webkit-filter: drop-shadow(0.15em 0.15em 0.05em #14224d);
    filter: drop-shadow(0.15em 0.15em 0.05em #14224d);
}


.node {
    position: absolute;
    display: block;

    width: 3em;
    height: 3em;

    border-radius: 100%;

    top: 0;
    left: 5%;

    background-repeat: no-repeat;
    background-size: cover;

    user-select: none;
    cursor: pointer;

    transition: 0.5 background-image;
}

.placeholder {
    position: absolute;
    display: inline-block;

    z-index: 1;
    opacity: 0;

    width: calc(1.35* 15vh);
    height: 15vh;

    margin-top: -500em;
    margin-left: -8vh;

    background-size: cover;
    background-repeat: no-repeat;

    transition: 0.2s opacity linear;
}

#zoom-pch-bg
{
    position: absolute;
    z-index: 5;
    
    width: 100%;
    height: 100%;

    background-color: #000000b5;

    margin: 0;
    top: 0;

    display: none;
    align-items: center;
    justify-content: center;
}
#pch-zoom
{
    /*w = 0.75 * h*/
    width: 56.3vw;
    height: 75svh;

    background-size: cover;
    background-repeat: no-repeat;

    margin: 0;
    top: 0;
    left: 0;
}



.G-1
{
    background-image: url("./assets/IMG-G/G-1-NO.png");
    cursor: default;
}

.G-1:hover {
    background-image: url("./assets/IMG-G/G-1-OUI.png");
}

.G-2 {
    background-image: url("./assets/IMG-G/G-2-NO.png");
}

.G-2:hover {
    background-image: url("./assets/IMG-G/G-2-OUI.png");
}

.G-3 {
    background-image: url("./assets/IMG-G/G-3-NO.png");
}

.G-3:hover {
    background-image: url("./assets/IMG-G/G-3-OUI.png");
}

.G-4 {
    background-image: url("./assets/IMG-G/G-4-NO.png");
}

.G-4:hover {
    background-image: url("./assets/IMG-G/G-4-OUI.png");
}

.G-5 {
    background-image: url("./assets/IMG-G/G-5-NO.png");
}

.G-5:hover {
    background-image: url("./assets/IMG-G/G-5-OUI.png");
}

.G-6 {
    background-image: url("./assets/IMG-G/G-6-NO.png");
}

.G-6:hover {
    background-image: url("./assets/IMG-G/G-6-OUI.png");
}

.G-7 {
    background-image: url("./assets/IMG-G/G-7-NO.png");
}

.G-7:hover {
    background-image: url("./assets/IMG-G/G-7-OUI.png");
}



.pch-1-ap {
    background-image: url("./assets/placeholders/pch_1_ap.png");
}

.pch-2-ap {
    background-image: url("./assets/placeholders/pch_2_ap.png");
}

.pch-3-ap {
    background-image: url("./assets/placeholders/pch_3_ap.png");
}

.pch-4-ap {
    background-image: url("./assets/placeholders/pch_4_ap.png");
}

.pch-5-ap {
    background-image: url("./assets/placeholders/pch_5_ap.png");
}

.pch-6-ap {
    background-image: url("./assets/placeholders/pch_6_ap.png");
}

.pch-7-ap {
    background-image: url("./assets/placeholders/pch_7_ap.png");
}

.pch-8-ap {
    background-image: url("./assets/placeholders/pch_8_ap.png");
}

.pch-9-ap {
    background-image: url("./assets/placeholders/pch_9_ap.png");
}


.pch-1-ca {
    background-image: url("./assets/placeholders/pch_1_ca.png");
}

.pch-2-ca {
    background-image: url("./assets/placeholders/pch_2_ca.png");
}

.pch-3-ca {
    background-image: url("./assets/placeholders/pch_3_ca.png");
}

.pch-4-ca {
    background-image: url("./assets/placeholders/pch_4_ca.png");
}

.pch-5-ca {
    background-image: url("./assets/placeholders/pch_5_ca.png");
}


.pch-1-co {
    background-image: url("./assets/placeholders/pch_1_co.png");
}

.pch-2-co {
    background-image: url("./assets/placeholders/pch_2_co.png");
}

.pch-3-co {
    background-image: url("./assets/placeholders/pch_3_co.png");
}


.pch-1-in {
    background-image: url("./assets/placeholders/pch_1_in.png");
}

.pch-2-in {
    background-image: url("./assets/placeholders/pch_2_in.png");
}

.pch-3-in {
    background-image: url("./assets/placeholders/pch_3_in.png");
}

.pch-4-in {
    background-image: url("./assets/placeholders/pch_4_in.png");
}

.pch-5-in {
    background-image: url("./assets/placeholders/pch_5_in.png");
}

.pch-6-in {
    background-image: url("./assets/placeholders/pch_6_in.png");
}


.pch-1-re {
    background-image: url("./assets/placeholders/pch_1_re.png");
}


.pch-1-te {
    background-image: url("./assets/placeholders/pch_1_te.png");
}

.pch-2-te {
    background-image: url("./assets/placeholders/pch_2_te.png");
}

.pch-3-te {
    background-image: url("./assets/placeholders/pch_3_te.png");
}

.pch-4-te {
    background-image: url("./assets/placeholders/pch_4_te.png");
}

.pch-5-te {
    background-image: url("./assets/placeholders/pch_5_te.png");
}

.pch-6-te {
    background-image: url("./assets/placeholders/pch_6_te.png");
}

.pch-7-te {
    background-image: url("./assets/placeholders/pch_7_te.png");
}

.pch-8-te {
    background-image: url("./assets/placeholders/pch_8_te.png");
}

.pch-9-te {
    background-image: url("./assets/placeholders/pch_9_te.png");
}


.pch-1-vi {
    background-image: url("./assets/placeholders/pch_1_vi.png");
}


.osef1 {
    background-image: url("./assets/placeholders/osef1.png");
}

.osef2 {
    background-image: url("./assets/placeholders/osef2.png");
}

.osef3 {
    background-image: url("./assets/placeholders/osef3.png");
}

.osef4 {
    background-image: url("./assets/placeholders/osef4.png");
}
