body {
    background: linear-gradient(135deg, blueviolet, blue);
    margin: 0;
}
*::selection{
    opacity: 0;
}
#container {
    height: 100vh;
}


.displayer{
    position: absolute;
    background-size: cover ;
    background-position: center;
    transition: 0.3s;
}
.displayer.main{
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    opacity: 1;
}
.displayer.backup{
    opacity: 0;
    top: calc((100vh - 80vh) / 2);
    left: calc((100vw - 80vw) / 2);
    height: 80vh;
    width: 80vw;
    z-index: 3;
    background-color: aqua;
}


.dot{
    animation: appear 0.3s;
    z-index: 5;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: 0.3s;
    position: absolute;
}
.dot:hover{
    cursor: pointer;
    box-shadow: 0 0 15px white;
}
@keyframes appear {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


a {
    position: absolute;
    z-index: 50;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
a:hover{
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5) inset;
    transform: translate(3px, 3px);
}